LOG_LEVEL="e.g. DEBUG, INFO, WARNING, ERROR"

DB_PATH="path/to/duckdb/database.db"
DUCKDB_TEMP_DIRECTORY="path/to/duckdb/temp_directory there should be many GBs of free space for large operations"
DUCKDB_MEMORY_LIMIT="e.g. 75% of available system memory, such as '12GB' or '24GB'"
TEMP_META_DIR_NAME="directory_name_for_temporary_parquet_metadata"
TEMP_CELLS_DIR_NAME="directory_name_for_temporary_parquet_cells"

CELL_BATCH_SIZE="how often to write intermediary results, depends on memory, e.g. '1_000_000'"
TABLE_BATCH_SIZE="how often to write intermediary results, depends on memory, e.g. '50_000'"