.idea/
.venv
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# corpus data
backend/corpus/data/
temp_parquet_cells/
temp_parquet_meta/
_temp/

# Database file
corpus.db
wiki_corpus.db

# macOS
.DS_Store
